<phpunit bootstrap="tests/boot.php">
    <testsuites>
        <testsuite name="Squanch_Sanity_Tests">
            <directory>tests</directory>
        </testsuite>
        <testsuite name="Squanch_Unit_Tests">
            <directory>unitests</directory>
        </testsuite>
    </testsuites>
</phpunit>