<phpunit bootstrap="tests/boot.php">
    <testsuites>
        <testsuite name="SquanchSanity">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <testsuites>
        <testsuite name="Squanch">
            <directory>unitests</directory>
        </testsuite>
    </testsuites>
</phpunit>